<h1>This is the timeline page</h1>


<ul>
<% @users.each do |user| %>
  <% if @current_user.following? user %>
    <li>
      <%= link_to "Unfollow #{user.username}", unfollow_user_path(id: user.id), method: :post %>
    </li>
  <% else %>
    <li>
      <%= link_to "Follow #{user.username}", follow_user_path(id: user.id), method: :post %>
    </li>
  <% end %>
<% end %>
</ul>
